.wrapper {
    position: relative;
    width: 100%;
    height: 200vh; // Ensure this is tall enough for scrolling
    overflow: hidden;
  }
  
  .images-container {
    display: flex;
    justify-content: space-evenly;
    // position: fixed;
    width: 100%;
    height: 70vh;
    top: 0;
    left: 0;
    overflow: hidden;
    border:1px solid yellow;
  }
  
  .image {
    position: relative;
    width: 27%;
    flex-shrink: 0;
    overflow: hidden;

    .img-item{
        width: 100%;
        object-fit: contain;
    }
  }
  
  .center-div {
    flex: 1;
    overflow: hidden;
    background-color: #fff; // Adjust as needed
    position: relative;
  }