.wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  //   justify-content: center;
  align-items: center;
  // border:1px solid violet;
}

.images-container {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  //   align-items: center;
  // position: fixed;
  width: 33.33%;
  height: 85vh;
  top: 50%;
  left: 0;
  transform: translate(0%, -50%);
  overflow: hidden;
  // border: 1px solid yellow;

  .image-div {
    position: relative;
    width: 45%;
    height: 85%;
    //   flex-shrink: 0;
    overflow: hidden;
    // border:1px solid green;
    border-radius: 1.25vw;
    margin-top: 10%;

    .img-item-o {
      position: absolute;
      // height: 75%;
      object-fit: cover;
      // border:1px solid blue;
    }
  }

  .inner-container {
    position: relative;
    width: 45%;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    //   border:1px solid red;
    overflow: hidden;

    .image-div-inner {
      position: relative;
      width: 100%;
      height: 48%;
      //   flex-shrink: 0;
      // border:1px solid blue;
      overflow: hidden;
      border-radius: 1.25vw;

      .img-item {
        width: 100%;
        object-fit: cover;
      }
    }

  }
}

.images-container1 {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  //   align-items: center;
  // position: fixed;
  width: 33.33%;
  height: 85vh;
  top: 50%;
  right: 0;
  transform: translate(0%, -50%);
  overflow: hidden;
  // border: 1px solid yellow;

  .image-div {
    position: relative;
    width: 45%;
    height: 85%;
    //   flex-shrink: 0;
    overflow: hidden;
    // border:1px solid green;
    border-radius: 1.25vw;
    margin-top: 10%;

    .img-item-o {
      position: absolute;
      // height: 75%;
      object-fit: cover;
      // border:1px solid blue;
    }
  }

  .inner-container {
    position: relative;
    width: 45%;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    //   border:1px solid red;
    overflow: hidden;

    .image-div-inner {
      position: relative;
      width: 100%;
      height: 48%;
      //   flex-shrink: 0;
      // border:1px solid blue;
      overflow: hidden;
      border-radius: 1.25vw;

      .img-item {
        width: 100%;
        object-fit: cover;
      }
    }

  }
}

.expand-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 33.33%;
  height: 80vh;
  // background: rgb(227, 227, 227);
  // background: linear-gradient(90deg, rgba(227, 227, 227, 1) 0%, rgba(125, 125, 125, 1) 100%);
  background-color: black;
  border: 1px solid rgb(177, 177, 177);
  overflow: hidden;
  border-radius: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // border: 1px solid yellow;

  .expand-div-two {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 16rem;
    // overflow: hidden;

    .expand-heading {
      color: white;
      font-size: 2.5vw;
      font-weight: 500;
      text-align: center;
      margin-bottom: 2vw;
      line-height: 1;
    }

    .expand-div-inner {
      width: 70vw;
      min-height: 120vh;
      // top:50%;
      // left:50%;
      // transform:translate(-50%,-50%);
      border-radius: 2vw;
      background: linear-gradient(90deg, #F16633 0%, rgb(168, 168, 168) 100%);
      display: flex;
      justify-content: center;
      align-items: center;

      .expand-div-inner-absolute {
        width: 99.5%;
        height: 99.5%;
        border-radius: 2vw;
        background-color: black;
      }
    }
  }
}

// <div ref={wrapperRef1} className="wrapper">
// <div className="images-container">
//   <div className="image-div">
//     <Image src={Img1} alt="Image 1" className="img-item-o" layout="fill" />
//   </div>
//   <div className="inner-container">
//   <div className="image-div-inner">
//     <Image src={Img2} alt="Image 2" className="img-item" layout="fill" />
//   </div>
//   <div className="image-div-inner">
//     <Image src={Img3} alt="Image 3" className="img-item" layout="fill" />
//   </div>
//   </div>
//   {/* <div className="center-div">
    
//   </div> */}
// </div>
// <div ref={expandDivRef} className="expand-div">
// <div ref={expandDivRef1} className="expand-div-inner">
// <h2>India's most <br /> <span>TRUSTED</span> <br /> entertainment <br />platform</h2>
// <div ref={expandDivRef2} className="expand-div-innermost">
// <div ref={expandDivRef3} className="expand-div-innermost1">
//   <h2>Hello</h2>
//   </div>
// </div>

// </div>
// </div>
// <div className="images-container1">
//   <div className="inner-container">
//   <div className="image-div-inner">
//     <Image src={Img6} alt="Image 2" className="img-item" layout="fill" />
//   </div>
//   <div className="image-div-inner">
//     <Image src={Img4} alt="Image 3" className="img-item" layout="fill" />
//   </div>
//   </div>
//   <div className="image-div">
//     <Image src={Img5} alt="Image 1" className="img-item-o" layout="fill" />
//   </div>

//   {/* <div className="center-div">
    
//   </div> */}
// </div>
// </div>



// .image {
//   position: relative;
//   min-width: 45%;
// //   flex-shrink: 0;
//   overflow: hidden;
//   border:1px solid red;

//   .img-item {
//     width: 100%;
//     object-fit: cover;
//   }

//   .inner-container{
//     position: relative;
//     width: 45%;
//     display:flex;
//     flex-direction: column;

//     .img-item {
//         width: 100%;
//         object-fit: cover;
//       }
//   }
// }

.center-div {
  flex: 1;
  overflow: hidden;
  background-color: #fff; // Adjust as needed
  position: relative;
}