@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

@font-face {
  font-family: "Okine";
  src: url("../assets/fonts/MADEOkineSansPERSONALUSE-Bold.eot");
  src: url("../assets/fonts/MADEOkineSansPERSONALUSE-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/MADEOkineSansPERSONALUSE-Bold.woff2") format("woff2"),
    url("../assets/fonts/MADEOkineSansPERSONALUSE-Bold.woff") format("woff"),
    url("../assets/fonts/MADEOkineSansPERSONALUSE-Bold.ttf") format("truetype"),
    url("../assets/fonts/MADEOkineSansPERSONALUSE-Bold.svg#MADEOkineSansPERSONALUSE-Bold")
      format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Okine";
  src: url("../assets/fonts/MADEOkineSansPERSONALUSE-Black.eot");
  src: url("../assets/fonts/MADEOkineSansPERSONALUSE-Black.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/MADEOkineSansPERSONALUSE-Black.woff2") format("woff2"),
    url("../assets/fonts/MADEOkineSansPERSONALUSE-Black.woff") format("woff"),
    url("../assets/fonts/MADEOkineSansPERSONALUSE-Black.ttf") format("truetype"),
    url("../assets/fonts/MADEOkineSansPERSONALUSE-Black.svg#MADEOkineSansPERSONALUSE-Black")
      format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Okine";
  src: url("../assets/fonts/MADEOkineSansPERSONALUSE-Medium.eot");
  src: url("../assets/fonts/MADEOkineSansPERSONALUSE-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/MADEOkineSansPERSONALUSE-Medium.woff2") format("woff2"),
    url("../assets/fonts/MADEOkineSansPERSONALUSE-Medium.woff") format("woff"),
    url("../assets/fonts/MADEOkineSansPERSONALUSE-Medium.ttf")
      format("truetype"),
    url("../assets/fonts/MADEOkineSansPERSONALUSE-Medium.svg#MADEOkineSansPERSONALUSE-Medium")
      format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Okine";
  src: url("../assets/fonts/MADEOkineSansPERSONALUSE-Regular.eot");
  src: url("../assets/fonts/MADEOkineSansPERSONALUSE-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/MADEOkineSansPERSONALUSE-Regular.woff2")
      format("woff2"),
    url("../assets/fonts/MADEOkineSansPERSONALUSE-Regular.woff") format("woff"),
    url("../assets/fonts/MADEOkineSansPERSONALUSE-Regular.ttf")
      format("truetype"),
    url("../assets/fonts/MADEOkineSansPERSONALUSE-Regular.svg#MADEOkineSansPERSONALUSE-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Okine";
  src: url("../assets/fonts/MADEOkineSansPERSONALUSE-Thin.eot");
  src: url("../assets/fonts/MADEOkineSansPERSONALUSE-Thin.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/MADEOkineSansPERSONALUSE-Thin.woff2") format("woff2"),
    url("../assets/fonts/MADEOkineSansPERSONALUSE-Thin.woff") format("woff"),
    url("../assets/fonts/MADEOkineSansPERSONALUSE-Thin.ttf") format("truetype"),
    url("../assets/fonts/MADEOkineSansPERSONALUSE-Thin.svg#MADEOkineSansPERSONALUSE-Thin")
      format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Okine";
  src: url("../assets/fonts/MADEOkineSansPERSONALUSE-Light.eot");
  src: url("../assets/fonts/MADEOkineSansPERSONALUSE-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/MADEOkineSansPERSONALUSE-Light.woff2") format("woff2"),
    url("../assets/fonts/MADEOkineSansPERSONALUSE-Light.woff") format("woff"),
    url("../assets/fonts/MADEOkineSansPERSONALUSE-Light.ttf") format("truetype"),
    url("../assets/fonts/MADEOkineSansPERSONALUSE-Light.svg#MADEOkineSansPERSONALUSE-Light")
      format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Okine", sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
  scroll-behavior: smooth;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

canvas {
  opacity: 0;
  touch-action: none;
  animation: fade-in 1.5s ease 0.5s forwards;
  z-index: 99;
}

.clipped {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

/* ::-moz-selection {
  color: white;
  background: pink;
}

::selection {
  color: white;
  background: pink;
} */

.gradient-bg {
  background: linear-gradient(180deg, #f12271 0%, #fa642f 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.font-new {
  font-family: "", sans-serif;
  font-style: italic;
}
